*{
    text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body{
    background-color: #000000;
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    margin: 0;
    color: #ffffff;
    
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250px;
    margin: 0;
    color: #000000;
}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    margin: 0;
    color: #000000;
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400px;
    margin: 0;
    color: #c72121;
}
a{
    color: #c72121;
}



/* home page */

.intro{
    display: flex;
    margin: auto;
    padding-top: 30px;
    background-color: #c72121;
    align-items: center;
    justify-content: flex-start;
    max-width: 700px;
    width: 100%; 
    /* flex-direction: column; */
}

.intro-hi-text{
   margin: auto;
   padding: 100px;
   padding-left: 50px;
   padding-right: 20px;
}



.intro-body-text{
margin: auto;
text-align: center;
padding-right: 30px;

}

@media (max-width: 660px){
  .intro{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    

  }
}


/* hamburger stuff */

  .offcanvas-nav {
    position: relative; /* To position the menu within */
    padding-bottom: 20px;
  }
  
  .menu {
    position: fixed; /* Fixed position for overlay effect */
    top: 20px;
    left: 0;
    height: 100%;
    width: 250px; /* Adjust width as needed */
    background-color: #fff;
    margin-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transform: translateX(-100%); /* Initially slide out to the left */
    transition: transform 0.3s ease; /* Smooth transition */
    
  }
  
  .menu.expanded {
    transform: translateX(0); /* Slide in when expanded */
  }
  
  .menu-toggle {
    /* Style the menu button as needed */
  }
  
  
  @media (min-width: 768px) {
  .offcanvas-nav {
      display: block; /* Show the full navigation on larger screens */
    }
  .menu {
      display: flex; /* Ensure menu is visible on larger screens */
      position: static; /* Remove fixed positioning */
      width: auto;
      transform: none; /* No need for transitions */
      box-shadow: none;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

    }
  .menu-toggle {
      display: none; /* Hide the toggle button on larger screens */
    }
  }


  /* about me page */

  .about-me{
    background-image: linear-gradient(#c72121, #2f0606);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* margin: auto; */
    /* height: 600px; */
    max-width: 1250px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
   
  }

  @media (max-width: 660px){
    .about-me{
     display: flex; /* Ensure menu is visible on larger screens */
      position: static; /* Remove fixed positioning */
      max-width: 500px;
      width: 100%;
      transform: none; /* No need for transitions */
      box-shadow: none;
      justify-content: flex-start;
      flex-direction: column;
      align-items: stretch;
      margin: auto;
  
    }

    .about-me-image{
      display: flex;
      justify-content: center;
      max-width: 300px;
      width: 100%;
      max-height: 700px;
      height: 100%;
      /* padding-top: 20px; */
      padding-bottom: 0px;
      border: 0px;
      margin-top: auto;
      align-content: center;
      align-items: center;
      align-self: center;
      
    

    }

    .about-me-text{
      display: flex;
      justify-content: flex-start;
      padding: 0px;
      text-align: center;
      margin: auto;
    }

    .about-me-text > p{
      padding-top: 0%;
      margin-top: 0%;
      font-size: 75%;
      padding-left: 30px;
      padding-right: 30px;
      
    }

  }
  .about-me-image{
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    width: 100%;
    /* width: 500px;
    height: 500px; */
    object-position: right 20px;
    object-position: top 100px;
    margin-left: 2rem;
    border: 5px solid #000000;
  }

  .about-me-text > p{
    padding: 0;
  }

  .about-me-text{
    display: flex;
    flex-direction: column;
   padding-top: 40px;
    word-wrap: break-word;
   margin: auto;
    text-align: center;
    align-items: center;

  }

  .about-me-text > h1{
    margin: 0px;
    padding: 0%;
  }


  /* project page */

  .design-title{
    background-color: #c72121;
    text-align: center;
    margin: auto;
    max-width: 500px;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
  }

  .cup-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .my-street{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-bottom: 3rem;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .imaging-title{
    background-color: #c72121;
    text-align: center;
   margin: auto;
    max-width: 500px;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
  }

  .imaging-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3rem;
  }
  
  .infographics-title{
    background-color: #c72121;
    text-align: center;
    margin: auto;
    max-width: 500px;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: flex;
  }

  .alone-images{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    gap: 3rem;
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  .rhode-pics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
   padding-bottom: 2rem;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .hollywood-pics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    padding-bottom: 5rem;
    gap: 2rem;
    flex-wrap: wrap;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 660px){
    .design-title{
      text-align: center;
      margin: auto;
      max-width: 300px;
      width: 100%;
      align-items: center;
      align-content: center;
      flex-direction: column;
      display: flex;
      padding-bottom: 0px;
    }

    .cup-images{
      gap: 1rem;
      padding-top: 30px;
    }

    .my-street{
      gap: 1rem;
      padding-top: 0px;
    }

    .imaging-title{
      text-align: center;
      margin: auto;
      max-width: 300px;
      width: 100%;
      align-items: center;
      align-content: center;
      flex-direction: column;
      display: flex;
      padding-bottom: 0px;

    }

    .imaging-images{
      gap: 1rem;
    }

    .infographics-title{
      text-align: center;
      margin: auto;
      max-width: 300px;
      width: 100%;
      align-items: center;
      align-content: center;
      flex-direction: column;
      display: flex;
      padding-bottom: 0px;
    }

    .alone-images{
      gap: 1rem;
    }

    .rhode-pics{
      gap: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
  
    }

    .hollywood-pics{
      gap: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
     
    h2{
      font-size: 50px;
    }
  
  }

  #myBtn {
    display: none; /* Hidden by default */
    align-content: center;
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; 
    right: 600px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #c72121; /* Set a background color */
    width: 200px;
    color: #000000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    /* border-radius: 10px; Rounded corners */
    font-size: 30px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
 
  /* contact page */
  .call-me{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #c72121;
    font-size: 500px;
  }

  .contact-icons{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    gap: 10rem;
    margin: auto;
    max-width: 400px;
    width: 100%;
  }

  @media (max-width: 660px){
    .call-me{
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      
    }

    h3 {
      font-size: 200px;
  }

 

 
}

  /* footer */
  .footer{
    text-align: center;
    background-color: #c72121;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
   }

    